body {
	line-height: 2;
}

.post {
	font-size: 18px;
	font-family: Montserrat,"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin: 25 0 0 25;
	word-wrap: break-word;
	color:#677684;
}

.post .title {
	font-size:30px;
	font-weight: bold;
}

.tagtext {
	color: #db3c14;
	font-family: "comic-sans";
	font-weight: 12px;
	margin: 10px 1px 10px 1px;
}

.authortext {
	color:#45a6cc;
	font-weight: 12px;
}

.bg {
	background-color: #43AA8B;
	color:white;
}

.admin-edit {
	margin-left: 10px;
}

.admin-remove {
	margin-left: 10px;
}


.footer {
	font-weight: italic;
	font-size:10px;
	text-align: center;
	margin-top: 25px;
	background-color: 
}
