{% extends "layout.html" %}


{% block body %}
    
    {% if posts %}
        {% for post in posts %}
        <div class="post">
            <span class="title"> {{ post.title | safe }}</span>
            <div class="content">
                <p> {{ post.content[:500] | safe }} <a href='/posts/{{post._id}}'>Read More</a> </p>
                Tags : {% for tag in post.tags %} <span class="btn btn-default tagtext">{{ tag }} </span>{% endfor %}<br/>
                Author : <span class="btn btn-default authortext"> {{ post.author }} </span>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <b color='red'> No Posts found!! </b>
    {% endif %}
{% endblock %}
