{% extends "layout.html" %}


{% block body %}
    {% if post %}
         <div class="post">
            <span class="title"> {{ post.title | safe }}</span>
             <div class="admin-remove glyphicon glyphicon-remove"><a href="#">Remove</a></div>
            <div class="admin-edit glyphicon glyphicon-pencil"><a href="?_method=EDIT">Edit</a></div>
            <input type="hidden" value={{ post._id }} id="post-id"/>
            <div class="content">
                <p> {{ post.content | safe }}</p>
                Tags : {% for tag in post.tags %} <span class="btn btn-default tagtext">{{ tag }} </span>{% endfor %}<br/>
                Author : <span class="btn btn-default authortext"> {{ post.author }} </span>
            </div>
        </div>
    {% else %}
        <b color='red'> No Posts found with the given ID!! </b>
    {% endif %}
{% endblock %}
